.bar{
    border: none;
}


.cards{
    display: flex;
    justify-content: center;
    padding-top: 4vh;
    display: flex;
    background-image: url('https://i.pinimg.com/1200x/f4/b9/fe/f4b9fe4e03a2ef397e496ab1cde8bb26.jpg');
    background-size: cover;
    height: 11rem;
  }
  
  .cards .field{
    margin-top: 3.25rem;
    border-radius: 3rem;
    margin-right: 2rem;
  }
  
  .fiel{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .fiel::-webkit-scrollbar{
    width: 0;
  }

  
.field:hover{
    background-color: #198754;
    color: white;
    transform: scale(1.06); 
}



.field{
  width: 15rem;
  height: 5rem;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.barchart{
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
}